body {
    margin: 0px;
    background-color: rgb(38, 37, 37);
}

#container {
    background-color: rgb(39, 75, 103);
    margin: auto;
    width: 40%;
    padding: 20px;
    border: 3px solid green;
    margin-top: 200px;
}

.text {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
    color: white;
    letter-spacing: -0.025em;

}

.text1 {
    color: #4ADF86;
    letter-spacing: -0.025em;

}

.para {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #D5D4D8;

}

#btn-pswd {
    background-color: #4ADF86;
    height: 30px;
    color: white;
    border: none;
    border-radius: 5px;
    font-family: 'Inter';
    letter-spacing: 0.05em;
}

#pswd-container {
    display: flex;
    justify-content: center;
}

#psw1 {
    background-color: #273549;
    border-radius: 6px;
    width: 211px;
    height: 39px;
    margin-right: 24px;
}

#psw2 {
    background-color: #273549;
    width: 211px;
    height: 39px;
    border-radius: 6px;
}

h3 {
    text-decoration: underline;
    text-align: center;
    height: 39px;
    margin-top: 6px;
    margin-bottom: auto;
}